---
layout: nil
---

/* 
 * =============================================================================
 * Siteye özel Baz CSS
 * =============================================================================
 */
a {
	color: #0000cc;
}
a:hover{
	color: #0f80e8;
}
body {
background-color: #20415a;
}
.site {
width: 52em;

-moz-border-radius:25px;
-webkit-border-radius:25px;
border-radius:25px;
/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
-moz-box-shadow:0px 0px 20px #ffffff;
-webkit-box-shadow:0px 0px 20px #ffffff;
box-shadow:0px 0px 20px #ffffff;
/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/

}


/*
#logo {
  display:block;
  position: relative;
  float: medium;
  vertical-align: top;
  width: 768px;
  height: 180px;
}
*/
