---
layout: nil
---

/* 
 * =============================================================================
 * Siteye özel Baz CSS
 * =============================================================================
 */

body {
background-color: #ECE5B6;
/* background-image:url('../chrome/arkaplan.gif'); */
background-size: 100%;

}
.site {
width: 52em;

-moz-border-radius:18px;
-webkit-border-radius:18px;
border-radius:18px;

-moz-box-shadow:0px 0px 19px #000000;
-webkit-box-shadow:0px 0px 19px #000000;
box-shadow:0px 0px 19px #000000;

background-image: -moz-linear-gradient(top, #ffffff, #ffb5f4);
background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#ffb5f4));
background-image: -o-linear-gradient(top, #ffffff, #ffb5f4);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffb5f4');

-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffb5f4')";
background-image: linear-gradient(top, #ffffff, #ffb5f4);
-moz-background-clip: padding-box;
-webkit-background-clip: padding-box;
background-clip: padding-box;
}